{% load static bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="//use.edgefonts.net/cabin;source-sans-pro:n2,i2,n3,n4,n6,n7,n9.js"></script>
    <link href='{% static "news/css/style.css" %}' rel="stylesheet">
    <link href='{% static "news/css/slippry.css" %}' rel="stylesheet">
    <link href='{% static "news/css/bootstrap-responsive.css" %}' rel="stylesheet" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='{% static "news/css/hosting.css" %}' rel="stylesheet" media="all">
    <link rel="stylesheet" href='{% static "news/awesome/css/font-awesome.min.css" %}'>

</head>
<body>
    <div class="main">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand" style="font-size:25px;cursor:pointer;" onclick="openNav()" onblur="closeNav()">&#9776;</span><a class="navbar-brand" href="/"> Müsvedde</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form action="{% url 'list-search' %}" method="get" accept-charset="utf-8" style="display:inline">
                            <div class="form-group">
                                <input name="q" class="form-control" onfocus="genislet()" onblur="kucult()" style="width:300px;margin-top:10px;display:inline" type="text" placeholder="Haber Ara!">
                                <button class="btn btn-primary" style="display:inline" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                {% if not request.user.is_authenticated %}
                                <ul class="nav navbar-nav navbar-right" style="display:inline">
                                    <li><a href='{% url "login" %}'><i class="fa fa-sign-in"></i> Giriş Yap</a></li>
                                    <li><a href='{% url "register" %}'><i class="fa fa-user-plus"></i> Kayıt Ol</a></li>
                                </ul>
                                {% endif %}
                            </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div id="mySideNav" class="sidenav">
            <div class="navcontent">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="col-md-6">
                    <img src='{% static "news/img/profile.png" %}' alt="profil" class="img-circle" width="100" height="100" style="border:2px solid #fff;position:absolute;top:10px;">
                </div>
                {% if request.user.is_authenticated %}
                <div class="col-md-6" style="margin-bottom: 50px;">
                <span style="color:#fff;margin-bottom:20px">{{ request.user.username|title }} YAVAŞ</span>
                <a href="" style="margin-bottom:0px!important"><small style="font-size:15px">+ Profil</small></a>
                <a href='{% url "logout" %}'><small style="font-size:15px">+ Çıkış Yap</small></a>
                {% else %}
                <div class="col-md-6" style="margin-bottom: 120px;">
                  <span style="color:#fff;">{{ "Ziyaretçi"|title }}</span>
                {% endif %}
                </div>
                <ul>
                    {% for cat in categories %}
                        <li style="list-style-type:none;margin-right:30px"><a href='{% url "category_view" slug=cat.slug %}' style="color:#fff;text-decoration:none;"><i class="fa {{cat.icon}} text-primary" style="margin-right:10px"></i> {{cat|title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
        <div class="main">
        {% block body %}

        {% endblock %}
        </div>
    </div>
    <section style="height:80px;"></section>
    <!----------- Footer ------------>
    <footer class="footer-bs main">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
                <img src="{% static "news/img/logo.jpeg" %}" alt="Logo" width="100" height="100" style="border-radius:100px;margin-bottom:20px">
                <p>Bir haber sitesinden çok daha fazlası.<br>Editörlük işini tamamen kullanıcalara aktardığımız özgür bir haber platformu...</p>
                <p>© 2017 Free Project, MIT License</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>Kategoriler —</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                    {% for cat in categories %}
                        <li style="list-style-type:none;margin-right:30px"><a href='{% url "category_view" slug=cat.slug %}' style="color:#fff;text-decoration:none;"> {{cat|title}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            	<div class="col-md-6">
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" style="color:#000">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Bize Ulaşın</h4>
                          </div>
                          <div class="modal-body">
                            <h1>İletişim</h1>
                            <form action="." method="POST">
                            {% csrf_token %}
                            {% bootstrap_form contact_form %}
                                <input type="submit" value="Save"/>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                          </div>
                        </div>

                      </div>
                    </div>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>İletişim</h4>
            	<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Bize Ulaşın</button>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Ara</h4>
                <p>Aradığınız habere anahtar kelime ile ulaşın.</p>
                <p>
                    <div class="input-group">
                      <form action="{% url 'list-search' %}" method="get" accept-charset="utf-8" style="display:inline">
                            <div class="form-group">
                                <input name="q" class="form-control" style="width:230px;margin-top:0px;display:inline" type="text" placeholder="Haber Ara!">
                                <button class="btn btn-primary" style="display:inline" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                      </form>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src='{% static "news/js/slippry.min.js" %}'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='{% static "news/js/script.js" %}'></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $(document).ready(function(){
            $(".section").css("min-height", $(window).height());
        })

         function genislet(){
               $("input[name=q]").animate({
                    width: "400"
                  }, 2000, function() {
                    // Animation complete.
               });
         }

         function kucult(){
            $("input[name=q]").animate({
                    width: "300"
                  }, 2000, function() {
                    // Animation complete.
              });
         }
    </script>
    {% block script %}

    {% endblock %}
</body>
</html>