{% extends "news/base.html" %}

{% block body %}
    <h1>{{object}}</h1>

    <h4>Alt Kategoriler</h4>
    <ul>
    {% for sub_category in object.category_set.all %}
        <li><a href='{% url "category_view" slug=sub_category.slug %}'>{{sub_category}}</a></li>
    {% endfor %}
    </ul>
    <hr>
    <ul>
    {% for spor in object.post_set.all %}
        <li><a href='{% url "news_view" pk=spor.pk slug=spor.slug %}'>{{spor}}</a></li>
    {% endfor %}
    {% for sub_category in object.category_set.all %}
        {% for subnews in sub_category.post_set.all %}
        <li><a href='{% url "news_view" slug=subnews.slug pk=subnews.pk %}'>{{subnews}}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
    <h1>Haber Ekle</h1>
    <hr>
    <form action="." method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Ekle"></input>
    </form>

{% endblock %}