{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <link href="{% static "news/css/style.css" %}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{% static "news/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "news/css/scrolling-nav.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="mySideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="{% static "news/img/profile.png" %}" alt="profil" class="img-circle" width="100" height="100" style="border:2px solid #fff;display:inline">
        <span style="color:#777"> Ziyaretçi</span>
        <br>
        <br>
        <ul>
            <li style="list-style-type:none;margin-right:30px"><a href='/' style="color:#fff;text-decoration:none;"><i class="glyphicon glyphicon-home text-danger"></i> {{"Anasayfa"|title}}</a></li>
            {% for cat in categories %}
            <li style="list-style-type:none;margin-right:30px"><a href='{% url "category_view" slug=cat.slug %}' style="color:#fff;text-decoration:none;"><i class="glyphicon glyphicon-home text-danger"></i> {{cat|title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top main" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" style="font-size:25px;cursor:pointer;" onclick="openNav()">&#9776;</span>
                <a class="navbar-brand" href="."> Müsvedde</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% block body %}

    {% endblock %}

    {% block footer %}

    {% endblock %}


    <!-- jQuery -->
    <script src="{% static "news/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "news/js/bootstrap.min.js" %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static "news/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "news/js/scrolling-nav.js" %}"></script>
    <script src="{% static "news/js/script.js" %}"></script>


</body>

</html>
