{% extends "news/base.html" %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="jumbotron" style="overflow:auto">
            <em style="float:right">Okunma: {{post.read}}</em>
            <h2>{{ post.title|title}}</h2>
            <h5>Kaynak: <a href="{{ post.source }}">{{ post.source }}</a></h5>
            <span style="float:right"><strong>Yazar:</strong>Anon <strong>Tarih:</strong>{{post.created_at|date:"d-m-Y"}}</span>
            <hr>
            <img src="" alt="{{ post.title|title}}" height="300" width="300" style="float:right;" class="img-responsive">
            {{ post.content }}
            <div class="clearfix"></div>
             {% if request.user.is_authenticated %}
            <button id="reported" class="btn btn-sm {% if reported %}btn-success{% else %}btn-primary{% endif %}" style="float:right;margin:5px" data-toggle="modal" data-target="#reportModal">
                <i class="glyphicon glyphicon-alert"></i>
                <span id="reportedText">
                    {% if liked %}
                        Şikayeti Geri Al
                    {% else %}
                        Şikayet Et
                    {% endif %}</span>
                <span id="reportedCount">(1) </span>
            </button>
            <button id="liked" onclick="like({id:{{ post.id }}, action:'like'})" class="btn btn-sm {% if liked %}btn-success{% else %}btn-primary{% endif %}" style="float:right;margin:5px">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <span id="likedText">
                    {% if liked %}
                        Beğenmekten Vazgeç
                    {% else %}
                        Beğen
                    {% endif %}
                </span>
                <span id="likedCount">({{ post.liked }})</span>
            </button>
            {% endif %}
        </div>
        <br>
        <div class="panel panel-default">
              <div class="panel-heading">Etiketler</div>
              <div class="panel-body">
                  <ul style="overflow:auto">
                      {% for tag in post.tags.all %}
                        <li style="list-style-type:none;float:left;padding:5px;border:1px solid #006666;margin:5px;border-radius:5px;background-color:#669999" class="tag"><a href='{% url "tag_view" slug=tag.slug %}' style='font-family: "Times New Roman", Times, serif;color:white;text-decoration:none;'>{{tag}}</a></li>
                      {% endfor %}
                  </ul>
              </div>
        </div>
        <div class="panel panel-default">
              <div class="panel-heading">Yorumlar</div>
              <div class="panel-body">
                  <ul style="overflow:auto">
                      {% for com in post.comments_set.all %}
                        <img src="{% static "news/img/profile.png" %}" alt="{{com.user_name}}" height:"50" width="50" class="img-thumbnail">
                        <span class="text-warning">{{com.user_name}}</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        {{com.comment}}
                        <span class="pull-right">
                            {{com.created_at|date:"d-m-Y"}}
                        </span><br>
                        <hr>
                        {% empty %}
                            <div style="margin-top:25px" class="alert alert-danger"><h5 class="text-danger">Bu habere ait yorum bulunamadı!</h5></div>
                      {% endfor %}
                  </ul>
              </div>
        </div>
        <div class="panel panel-default">
              <div class="panel-heading">Yorum Ekle</div>
              <div class="panel-body">
                  <form action="." method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-primary" type="submit" value="Ekle">
                  </form>
              </div>
        </div>
    </div>
    <div id="reportModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reportModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <p>Lütfen şikayet etme sebebini giriniz</p>
                {{ report_form }}
                <button onclick="like({ id:{{ post.id }}, action:'report', message:$('#id_message').val()})" class="btn btn-danger">Şikayet Et</button>
        </div>
      </div>
    </div>

    <script>
    function like(data) {
        var texts = {"reported":["Şikayet Et", "Şikayeti Geri Al"], "liked":["Beğen", "Beğenmekten Vazgeç"] }
        data["csrfmiddlewaretoken"] =  getCookie('csrftoken');
        $.ajax({
            method:"POST",
            url: {% url "like" %},
            data: data,
            success:function (data) {
                if(data["status"] == "added"){
                    $("#"+data["action"]).removeClass("btn-primary").addClass("btn-success");
                    $("#"+data["action"]+"Text").text(texts[data["action"][0]]);
                }else if(data["status"] == "deleted"){
                    $("#"+data["action"]).removeClass("btn-success").addClass("btn-primary");
                    $("#"+data["action"]+"Text").text(texts[data["action"][1]]);
                }
                $("#"+data["action"]+"Count").text("("+data["count"]+")");
            }
        })
    }
</script>
{% endblock %}



