{% extends "news/base.html" %}
{% block body %}
<div class="container">
{% for searchpost in object_list %}
    <div class="col-md-3">
        <img src="{{searchpost.image.url}}" width="200" height="200" alt="Image" class="img-responsive" style="display:inline;border-radius:200px">
    </div>
    <div class="col-md-9s">
        <h3 style="display:inline">{{searchpost.title}}</h3>
        <span class="pull-right">Ekleyen: <img src="" alt="{{"user"}}"></img></span>
        <span style="float:right">Tarih:<strong> {{searchpost.created_at|date:"d-m-Y"}}</strong></span><br><br>
        <span>{{searchpost.content|truncatechars:200}}</span><br><br>
         <a href="{% url "news_view" pk=searchpost.pk slug=searchpost.slug %}" class="button-link read-more btn btn-primary pull-right">Devamını Oku</a>
    </div>
    <div class="clearfix"></div>
    <hr>
    {% empty %}
        <div style="margin-top:25px" class="alert alert-danger"><h5 class="text-danger">Aradığınız konuya ait haber bulunamadı!</h5></div>
{% endfor %}

</div>
{% endblock %}