{% extends "news/base.html" %}
{% load static %}
{% block body %}
    <style>

        .tags_content {
          margin: 20px;
        }

        .tags_content ul {
          list-style-type: none;
          width: 500px;
        }

        .tags_content h3 {
          font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }

        .tags_content li img {
          float: left;
          margin: 0 15px 0 0;
        }

        .tags_content li p {
          font: 200 12px/1.5 Georgia, Times New Roman, serif;
        }

        .tags_content li {
          padding: 10px;
          overflow: auto;
          border:1px solid #ddd;
          margin-bottom:5px
        }

        .tags_content .col-md-6:hover {
          background: #eee;
        }
    </style>
    <div class="container">
        <h1>"{{object}}" ile ilgili haberler</h1>
        <hr>
        <div class="tags_content">
            <div class="col-md-9">
                 <div class="row">
            {% for obj in object.post_set.all %}
                {% if forloop.counter0|divisibleby:"2" %}
            </div>
            <div class="row">
            {% endif %}
                <div class=" col-md-9">
            <div class="panel panel-default" style="height:180px;width:820px">
                <div class="panel-heading">
                    <h4 style="display:inline"><a href='{% url "news_view" slug=obj.slug pk=obj.pk %}'>{{obj|truncatechars:100}}</a></h4>
                    <p style="float:right;margin-left:10px"><strong>Tarih:</strong> {{obj.created_at|date:"d-m-Y - H:i:s"}}</p>
                    <p style="float:right"><strong>Yazar:</strong> anon</p>
                </div>
                <div class="panel-body">
                    <img src="{{obj.image.url}}" class="img-rounded" height="70" width="70" />
                  {{obj.content|truncatechars:100}}
                  <div class="clearfix"></div>
                  <a href="{% url "news_view" pk=obj.pk slug=obj.slug %}" class="button-link read-more btn btn-primary pull-right">Devamını Oku</a>
                </div>
            </div>
            </div>
            {% endfor %}
            </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="text-primary">Etiketler</span>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


