@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


body {
	font-family:"Montserrat", Arial, Helvetica, sans-serif;
	background:#FFF;
}

/*==========PLANS AND PRICING==============*/

/* Animation */

.PlanPricing {
	margin-top:100px;
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.PlanPricing:hover {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
	z-index:2;
	-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
}
.PlanPricing .planName {
	padding-top:50px;
	padding-bottom:10px;
	text-align:center;
}
.PlanPricing .price {
	background:#2cc76a;
	padding:5px;
	color:#FFF;
	font-size:50px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	display:block;
	width:100px;
	height:100px;
	line-height:100px;
	margin:0 auto;
	position:relative;
	margin-top:-107px;
	margin-bottom:10px;
}
.PlanPricing.Recommended .price {
	background:#f45c57;
}
.PlanPricing .planName h3 {
	color:#FFF;
	text-align:center;
	padding:0;
	margin:0;
	text-transform:uppercase;
}
.PlanPricing .planName p {
	color:#999;
	text-align:center;
}
.PlanPricing .planFeatures {
	text-align:center;
	padding:10px;
}
.PlanPricing .planFeatures ul {
	margin:0;
	padding:0;
	list-style:none;
}
.PlanPricing .planFeatures ul li {
	padding:13px 0;
	list-style:none;
}
.PlanPricing p {
	margin:0;
}
.PlanPricing .btn {
	width:100%;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


/*========= Price CSS==============*/


.template4{
	overflow:hidden;
	
font: 'Open Sans';
font-size:13px;
font-weight:300;
position:relative;
border-top:5px solid #1B253B;
transition: all 1s linear 0s;
background:#fff;
}

.template4:hover{
	border-top:0px solid #1B253B;
	transition: all 1s linear 0s;
}

.template4:hover > p a{
	width:100% !important;
	
}

.template4:hover > div span.price{
	top:50px; !important;
	transition: all 1s linear 0s;
}

.PlanPricing.template4 .planName h3 {
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}


.PlanPricing.template4 .price {
     background: none repeat scroll 0 0 #2CC76A;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    margin: -50px auto 10px;
    padding: 5px;
    position: relative;
    width: 100%;
}

.PlanPricing.template4 .btn {
    border-radius: 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: 60%;
	color:#fff;
	font-size:15px;
	padding:20px 30px;
	background: #1B253B; /* Old browsers */
	 -webkit-transition: all 0.51s ease-in-out;
-moz-transition: all 0.51s ease-in-out;
-o-transition: all 0.51s ease-in-out;
transition: all 0.51s ease-in-out;
}

.PlanPricing.template4 .btn:hover {
   background: #1B253B !important; /* Old browsers */
	 -webkit-transition: all 0.51s ease-in-out;
-moz-transition: all 0.51s ease-in-out;
-o-transition: all 0.51s ease-in-out;
transition: all 0.51s ease-in-out;
}


.span3.PlanPricing.template4 > p {
    text-align: center;
}


.PlanPricing.template4 .price {
    background: none repeat scroll 0 0 #1B253B;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    position: absolute;
	left:0;
	top:-150px;
    width: 100%;
    transition: all 1s linear 0s;
}

.orange{
	color:#fba826;	
}

.template4 .planFeatures {
    color: #333333;
}